-i https://pypi.python.org/simple/
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
flask==1.1.2
idna==2.10
itsdangerous==2.0.1
jinja2==3.0.1
kazoo==2.8.0
markupsafe==2.0.1
pycurl==7.43.0.6
requests==2.25.1
six==1.16.0
urllib3==1.26.5
werkzeug==2.2.3
